<h2 mat-dialog-title>
  <span class="dialog-title">{{ data.title }}</span>
</h2>

<button
  mat-icon-button
  (click)="onCancel()"
  class="close-button"
  aria-label="Close dialog"
>
  <mat-icon>close</mat-icon>
</button>
<hr class="m-0" />
<mat-dialog-content>
  <ng-template #modal></ng-template>
</mat-dialog-content>
<hr class="m-0" />
<mat-dialog-actions>
  <button class="btn btn-danger" (click)="onCancel()">
    {{ data.cancleCaption }}
  </button>
  <span class="spacer"></span>
  <button
    class="btn btn-primary"
    (click)="onConfirm()"
    [disabled]="data.disabled"
  >
    {{ data.okCaption }}
  </button>
</mat-dialog-actions>
