<!-- calendar.component.html -->
<div class="calendar">
  <div class="calendar-header">
    <button (click)="prevMonth()">&lt;</button>
    <div class="month-year">{{ currentMonth | date : "MMMM yyyy" }}</div>
    <button (click)="nextMonth()">&gt;</button>
  </div>
  <div class="calendar-body">
    <div class="day-names">
      <div *ngFor="let day of dayNames" class="day-name">{{ day }}</div>
    </div>
    <div class="dates">
      <div
        *ngFor="let date of calendarDates"
        [class.other-month]="date.otherMonth"
        [class.today]="date.isToday"
        (click)="selectDate(date)"
      >
        {{ date.date | date : "d" }}
      </div>
    </div>
  </div>
</div>
