<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
  <p
    class="d-flex align-items-center justify-content-center mb-3 mb-md-0 text-white text-decoration-none"
  >
    <span class="fs-4">{{ header }}</span>
  </p>

  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    @for (item of items; track $index) {
    <li class="nav-item">
      <a
        routerLink="{{ item.route }}"
        routerLinkActive="router-link-active"
        class="nav-link text-white text-decoration-none"
        aria-current="page"
      >
        <i [ngClass]="item.icon"></i>
        {{ item.title }}
      </a>
    </li>
    }
  </ul>
</div>
