<!-- cart.component.html -->
<div class="cart" *ngIf="modelReady">
  <div style="position: relative">
    <h3>Expenses for {{ selectedDate | date : "EEE, MMM d, y" }}</h3>
    <button
      (click)="onCartClose()"
      style="position: absolute; top: 0; right: 0"
    >
      X
    </button>
  </div>

  <button class="btn btn-primary mb-3" (click)="openAddExpense()">
    Add Expense
  </button>

  <div *ngIf="expenses.length > 0; else noExpenses">
    <ul class="expense-list">
      <li *ngFor="let expense of expenses" class="expense-item">
        <span class="description">{{ expense.description }}</span>
        <span class="details">{{ expense.quantity }} {{ expense.unit }}</span>
        <span class="amount"
          >{{ expense.amount }}
          <i class="fas fa-bangladeshi-taka-sign"></i>
        </span>
      </li>
    </ul>
  </div>

  <ng-template #noExpenses>
    <p>No expenses recorded for this date.</p>
  </ng-template>
</div>
